body
{   
    display: flex;
    margin: 0 30px 0 30px;
    background-color:rgb(7, 7, 7)
    

}
.menu
{
    display: flex;
    left: 0; 
    right: 0;
    top: 0;
    height: 70px;
    background-color: cadetblue;
    color: white;
    padding-left: auto;
    padding-right: auto;
    justify-content: center;
    padding-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    
}
.contacts
{
    display: flex;
    height: 90px;
    width: 450px;
    background-color:rgba(95, 158, 160, 0.521);
    
}
.photo
{
    display: flex;
    height: 200px;
    width: 450px;
    background-color:rgba(95, 158, 160, 0.432);
    
}
.content 
{   
    display: flex;
    height: 100%;
    width: 855px;
    color: white;
    background-color: whitesmoke;
    margin-top: 105px;
    margin-left: 450px;

    
}
.menutext 
{
    margin-left: 40px;
}
a
{
text-decoration: none;
color: white;
margin-left: 35px;
margin-right: 35px;
font-size: 50px;
margin-top: 20px;
}
a:hover
{
color:gold;

}